section {
    background-color: orangered;
    background-image: linear-gradient(orangered, yellow);
    text-align: center;
    width: 500px;
    height: 700px;
    margin: 0% auto;
}

h3 {
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman';
    padding: 30px;
    border-bottom: 8px double white;
    font-weight: lighter;
}

.name {
    background-color: transparent;
    color: white;
    width: 210px;
    height: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    border-bottom: 3px double white;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.mail{
    background-color: transparent;
    color: white;
    width: 210px;
    height: 20px;
    margin-bottom: 20px;
    margin-right: 230px;
    border-bottom: 3px double white;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}



.textarea {
    width:300px;
    height: 150px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    resize: none;

}
.button {
    display:flex;
    justify-content: flex-end;
    margin-right: 35px;
    margin-top: 20px;
}
.btn {
    color: white;
    background-color: #ffd800;
    width: 85px;
    height: 45px;
    border-radius: 4px;
    border: 3px double white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #ff4c00;

}

fieldset {
    margin-bottom: 25px;
    height: 100px;
    border: 3px double white;
}

.radio {
    color: white;
    cursor: pointer;
}

legend {
    color: white;
    font-family: 'Times New Roman';
    font-weight: bolder;
}

select {
    margin-bottom: 10px;
    cursor: pointer;
}
.liste{
    
    display: flex;
    justify-content: flex-start;
    margin-left: 27px;
}